doctype html
html(ng-app='wko')
  head
    title= title
    //--------styles-------
    each link in cdns.css
      link(rel='stylesheet', href=link)
    each link in local.css
      link(rel='stylesheet', href=link)

  body(ng-controller='mainCtrl')
    table.main-view-area
      tr
        td.main-sidebar-left
          include ./partials/nav.jade
        td
          .ui-view.main-ui-view
        td(ng-show='detailsPane')
          //-TODO: detailsPainView
  .footer
    small footer area
    //--------Scripts-------
    each link in cdns.js
      script(type='text/javascript', src=link)
    each link in local.js
      script(type='text/javascript', src=link)
