@import '../_shared/colors.styl'
body
  background-color faded_black
.main-sidebar-left
  width 0.5px
  overflow hidden !important
  //margin 0px

.main-view-area
  height 100%
  width 100%
  max-height 1080px !important
  background-color silver

td
  vertical-align top
  overflow scroll !important

.main-ui-view
  position relative
  top 60px
  bottom 0px
  left 65px
  right 65px
  background-color silver
  margin-right 130px

.footer
  background-color faded_black
  padding 35px
  height 200px
  color gray
  text-align center