md-card.md-raised.about
  h3(layout="row" layout-sm="column", layout-align="center center") {{helloMsg}}
  .about-button(layout="row", layout-sm="column", layout-align="center center")
    md-button.md-raised(ng-click="helloMsg=helloMsg+'*';") Add some stars on about!
