@import '../colors.styl'

md-sidenav, md-backdrop
  min-width 0px !important

.navigation-sidebar
  height 100%

.sidebar-wrapper
  background-color sidebar_blue
  height 100%
  overflow hidden !important
  
.sidebar-switch-label
  color white
  padding-top 15px
  margin-left 75px

.sidebar-switch-label *
  cursor pointer

.navigation-sidebar button
  color white
  width 95%
  
//toggle
.nav-toggle-area
  width 100%
  opacity 0.3
  position fixed
  top -10px
  background-color rgba(0,0,0,0.0)
  padding-top 10px
  transition-duration 0.2s
  -webkit-transition-duration: 0.2s;
  z-index 1

.nav-toggle-btn
  background-color sidebar_blue !important
  
.nav-menu-btn
  background-color black !important
  
.nav-toggle-area:hover
  opacity 1.0