.navigation-sidebar
  md-sidenav.sidebar-wrapper.md-sidenav-left(md-component-id='left', md-is-locked-open="nav.lock")
    md-switch.md-primary.md-hue-1.sidebar-switch-label(ng-model="nav.lock") Side Menu
    a(ui-sref='root')
      md-button.sidenav-item Home
    a(ui-sref='code')
      md-button.sidenav-item Code
    a(ui-sref='about')
      md-button.sidenav-item About
.nav-toggle-area
  md-button.md-raised.md-fab.nav-toggle-btn(ng-click='nav.openLeftMenu()', ng-show='!nav.lock')
    md-icon(md-font-set="material-icons") dashboard